
nav .nav-item{
  font-family: 'Bree Serif', serif;
}
.body{
  color: antiquewhite;
  margin: 0px;
  font-family: 'Bree Serif', serif;
}

#ConnectionButton{
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  justify-content: end;
  font-family: 'Bree Serif', serif;
}

nav #ConnectionButton:hover {
  background-color: lightblue;
}